* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-item {
    color: red;
    text-decoration: none;
}

#root>*>* {
    margin-bottom: 1rem;
}

.card-1 {
    height: 400px;
    min-width: 340px;
    max-width: 340px;
    border: 1px solid;
    border-radius: 10px 35px 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    max-width: 400px;
    margin: 4rem auto;
    border: 1px solid;
    padding: 1rem;
    border-radius: 8px;
}

.form>div {
    display: flex;
    flex-direction: column;

}

.form input,
.form button {
    padding: .5rem 1rem;
}

.form button {
    background-color: black;
    color: white;
    border: none;
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.nav {
    display: flex;
    background: #bbb;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

}

.dashboard-nav {
    background-color: black !important;
}

.error-message {
    font-size: 13px;
    color: red;
}